:root {
    --page-background-color: #eaeaea;
    --bg-panel-color: #eef;
    --front-panel-color: #ccf;
    --header-panel-color: rgb(170, 200, 255);
    --footer-panel-color: var(--header-panel-color);
    --top-fieldset-border-color: rgb(0, 0, 116);
    --table-background-color: var(--front-panel-color);
    --table-header-default-color: #dde;
    --table-row-default-color: white;
}

html {
  scroll-padding-top: 82px;
}


body {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0px;
  background-color: var(--page-background-color);
  /*scroll-padding-top: 0px;*/
}

body.dark-mode {
  background-color: #333;
  /*color: #fff;*/
}

.page-wrapper {
  min-width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-height: 100%;
}
  
.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 100%;
}

/* ============================================================================= */
/* LOADING OVERLAY */

.backgroundOverlay {
  position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
}
  
#loadingSymbol {
  border-radius: 10px;
  padding: 20px;
  background-color: white;

  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-size: 24px;

  position: relative;
  overflow: hidden;
}

#loadingAnimation {
  position: absolute;
  display: flex;
  bottom: 5;
  right: 5;
  width: 20px; /* Start with the same width as the parent button */
  height: 20px;
  transform-origin: center center; /* Adjust transform-origin for horizontal shrinking */
  animation: loadAnimation 3s linear infinite;
  /*background-color: rgba(120, 0, 0, 0.5);*/
  background: conic-gradient( rgb(0, 0, 167), white );
    /*rgb(4, 121, 255),
    blue );*/
  border-radius: 50%;
}

@keyframes loadAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ============================================================================= */
/* USER GUIDE SECTION */

.user-guide-ask {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

.user-guide-answer {
  margin-left: 40px;
  margin-right: 40px;
}

.user-guide-verticalspace-small {
  margin-top: 10px;
}
.user-guide-verticalspace-large {
  margin-top: 40px;
}

/* ============================================================================= */
/* PAGE HEADER STYLES */

.header-container {
  display:flex;
  justify-content: space-between;
  align-items:center;

  box-shadow: 0px 1px 2px darkgrey;
  border-bottom: 1px solid grey;
  background-color: var(--header-panel-color);
  margin-bottom: 10px;

  min-width: fit-content;
  /*width: 100vw;*/
  position: sticky;
  top:0;
  /*left:0;
  right:0;*/
  padding-left: 20px;
  padding-right: 20px;
  max-height: 80px;
  z-index: 1000;
}

.header-title-container {
  display: flex;
  align-items: center;

  font-size: 1em;
}

/* Style for the dark mode toggle button & others */
/*.header-toggle-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}*/
  
/* ============================================================================= */
/* PAGE FOOTER STYLES */

.page-footer {
  width: 100%;
  bottom: 0;
  /*align-self: flex-end;*/
}

.footer-container {
  display:flex;
  justify-content: space-between;
  align-items:center;

  font-weight: bold;

  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid grey;
  box-shadow: 0px -1px 2px darkgrey;
  background-color: var(--footer-panel-color);
}

.footer-bullets {
  font-size: 14px;
}

/* ============================================================================= */
/* SPECIAL CONTAINERS */
  

.sprite-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.sprite-raid-boss {
  width: 128;
  height: 128;
  border: 1px solid black;
  background-color: white;
}

.container-flexcolumn {
  display: flex;
  flex-direction: column;
}

.pokemon-selector-container {
  width: 180px;
  align-items: center;
}

.pokemon-selector {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  text-align: center;
}

.pokemon-selector optgroup {
  color: white;
  background-color: black;
  font-size: 14px;
  text-align: center;
  padding-left: 0px;
}

/* Dynamically added to the result table if "Show Sprites?" is checked */
.table-sprite-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 48px;
}

.table-sprite-div img {
  /*position: relative;
  bottom: 10px;*/
  width: 48px;
  height: 48px;
}

/* ============================================================================= */
/* TOOLTIP STYLES */
  
.custom-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-tooltip .tooltip-text {
  visibility: hidden;
  width: 240px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 9000;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -120px; /* Center horizontally */
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* ============================================================================= */
/* PARAMETER CONTAINERS */

/* Top fieldsets: "Raid Boss", "Main Parameters", "Search Parameters" */
.top-level-fieldset {
  background-color: var(--bg-panel-color);
  width:fit-content;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 4px solid var(--top-fieldset-border-color);
}

/* "Raid Boss" top fieldset exclusive CSS. */
.boss-parameter-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}

/* Exclusive to the "Search Parameter" fieldset section (Advanced Mode) */
.search-parameter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fffeca;
}

.search-parameter-inner-fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  
  /*align-items: stretch;*/
  min-width: 500px;
}

/* Exclusive to the PSF section  */
.post-search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.vertical-spacing {
  margin-top: 20px;
}

/* Moves container for the "Main Moves" and "Extra Moves" in the "Raid Boss" fieldset */
.moveset-container {
  display:flex;
  flex-direction: column;
}
/* Prevent very large move names from clipping out */
.moveset-selector {
  margin-top: 0px;
  width: 150px;
  overflow: hidden;
  margin-bottom: 2px;
}

/* Separate parameter groups within large parameter sections */
.top-line-border {
  border-top: 1px solid #888;
}

/* Scale top-level-fieldset width  */
@media (width < 1380px ) {
  .top-level-fieldset {
    width:min-content;
  }
}

.inner-fieldset {
  background-color: var(--front-panel-color);
  margin-bottom: 40px;
  border-radius: 20px;
  border: 0px;
  /*position:relative;*/
}

.fieldset-top-legend {
  background-color: var(--header-panel-color);
  padding: 4px;
  border-radius: 10px;
  font-size: 28px;

  text-align: left;
  margin-left: 20px;
}

.fieldset-inner-legend {
  background-color: var(--header-panel-color);
  padding: 4px;
  border-radius: 10px;

  text-align: center;
}

.parameter-section-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 4px;
}

/* Arrange elements evenly in the horizontal space */
.parameter-sequence-row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Arrange elements sequentially in a row */
.parameter-sequence-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Add spacing for elements within a container */
.parameter-spacing {
  margin-left: 5px;
}

/* Bias elements in a the "parameter-sequence-row-even" container to be centered horizontally */
.parameter-centered {
  margin-left: auto;
  margin-right: auto;
}

/* Styles applied to the Label / Checkbox / Select combos like "Lock Terrain" and "Lock Weather" */
.checkbox-combo {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox-combo-row {
  display: flex;
  align-items: center;
}

/* Used in: "Search Parameters" subsections with many parameters */
.search-parameter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 8px;
  margin-bottom: 10px;
  /*grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(auto-fill, 50px);*/
}
/* For direct children of "search-parameter-grid" */
.search-parameter-item {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}


/* "Raid Boss" stats grid */
.stat-grid {
  display: grid;
  grid-template-columns: 35px 46px 40px 46px 40px 40px;
  grid-template-rows: repeat(7,30px);
  gap: 2px;
  align-items: center;
}
.stat-grid-header {
  text-align: center;
}
.stat-grid-field {
  text-align: left;
}
.stat-grid-field-input {
  width: 100%;
  height: 100%;
  padding: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Used to align "Raid Boss" properties like Level, Nature, HP multiplie, ability */
.boss-property-grid {
  display: grid;
  grid-template-columns: 50px 140px;
  line-height: 30px;
  gap: 2px;
  align-items: center;
  margin-left: 10px;
  align-self: flex-end;
}

/* Style for each group */
.group {
  margin: 10px; /* Add spacing between the groups */
  display: flex;
  flex-direction: column; /* Arrange label and selects vertically */
  border: 1px solid #ccc; /* Optional: Add borders for visual separation */
  padding: 10px; /* Optional: Add padding for spacing within the groups */
}


/* Style for extra action table - used in "Raid Boss" and "Boss Info" in results */
.action-table {
  width: 250px;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 2px;
}

.action-table tr td {
  border-radius: 8px;
  border: 1px solid black;
}

.stat-boost-parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ============================================================================= */
/* RAID PRESET TABS */

/* Boss preset tabs (5*, 6*, etc) container */
.raid-preset-tab {
  overflow: hidden;
}

/* Preset tab style */
.raid-preset-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  color: #0008;
}

/* Tab animations / interactions */
.raid-preset-tab button:hover {
  background-color: #4255ffaa;
}
/* Tab animations / interactions */
.raid-preset-tab button:focus {
  background-color: #4255ffaa;
}
.raid-preset-tab button.active {
  border-bottom: 2px solid #333;
  /*font-size: 14px;
  font-weight: bold;*/
  color: black;
}

.boss-export-import {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bg-panel-color);
  border: 4px solid var(--top-fieldset-border-color);
}

.boss-parameter-textarea {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  scroll-behavior: auto;
  margin-top: 10px;
  resize: none;
}
  
/* ============================================================================= */
/* FILTER WHITELIST STYLES */
  
/* Used in "Search Parameters" for species whitelist filtering and PSF learnable move filtering. */
.whitelist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.whitelist-left {
  display:flex;
  align-items: center;
}
.whitelist-right {
  margin-left: auto;
}


.whitelist-display {
  text-align: center;
}

.whitelist-area {
  min-height: 34px;
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid lightgrey;
}

.whitelist-area li {
  background-color: rgb(235, 235, 235);
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 2px;
  display: flex;
  align-items: center;
}

.whitelist-area li button {
  margin-left: 10px;
  padding: 2px 8px;
  background-color: #f12626c0;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 8pt;
}

.whitelist-area li button:hover {
  background-color: #581a1acb;
}

.whitelist-area li button:active {
  background-color: #581a1acb;
  color: grey;
}
  
  


/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* SEARCH RESULTS */

/* The top-level element containing search results */
.search-result-section {
  display:flex;
  flex-direction: column;
  min-height: 100px;
  min-width: fit-content;
  max-width: 100%;
  background-color: var(--bg-panel-color);
  border-top: 4px solid var(--top-fieldset-border-color);
  border-bottom: 4px solid var(--top-fieldset-border-color);
  margin-top: 20px;
}

/* ============================================================================= */
/* BOSS SUMMARY TABLE */

.boss-summary {
  /*border: 1px solid black;*/

  padding-bottom: 10px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 10px;
}

.boss-summary-preset {
  font-size: 20px;
  font-weight: bold;
}

.boss-summary-name {
  font-size: 18px;
  font-weight: bold;
}

.boss-info-tera-sprite {
  position: absolute;
  align-self: top left;
  z-index: 20;

}

.boss-info-tera {
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -1px;
  border: 1px solid black;
}

.boss-info-basetypes {
  width: 128;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
}
.boss-info-basetype {
  flex: 1;
  text-align: center;
}

.boss-summary-labelA {
  font-weight: bold;
}

.boss-summary-gridA {
  background-color: white;
  display: grid;
  grid-template-columns: 52px 68px 50px 140px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  /*grid-template-rows: repeat(7,30px);*/
}
.boss-summary-gridB {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6,50px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.boss-summary-labelB {
  font-weight: bold;
  text-align: center;
}

  /* BOSS INFO MOVESETS */
.boss-summary-gridC {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1,130px);
  line-height: 30px;
  /*grid-template-rows: 40px;*/
  margin-left: 10px;
  margin-bottom: 10px;
}
.boss-summary-labelC {
  font-weight: bold;
  text-align: center;
}
.boss-summary-valueC {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}

.boss-summary-blockD {
  /*width: 200px;*/
  /*height: 120px;*/
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.nature-raise {
  color: rgb(156, 0, 0);
}
.nature-hinder {
  color: rgb(0, 97, 189);
}
.boss-summary-valueB {
  text-align: center;
}


.burned-status {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  
  border: 1px solid orange;
  background-color: rgb(197, 35, 35);
  color: white;
}

.boss-stat-container {
  display: flex;
  flex-direction: row;
}
  
/* ============================================================================= */
/* RESULTS VERSUS TEXT */
.versus {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  /*border-top: 1px solid;*/
  /*border-bottom: 1px solid;*/
}
  
/* ============================================================================= */
/* RESULTS RAID BOSS INFO TABLE */

/* Parameters summary stripe */
.result-effects-info {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  background-color: rgb(255, 235, 144);
  font-weight: bold;
}

/* PSF info stripe */
.result-filters-info {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  background-color: rgb(143, 255, 212);
  font-weight: bold;
}

/* ============================================================================= */
/* SEARCH BUTTON & COOLDOWN EFFECT */

.search-button {
  font-size: 16px;
  height: 30px;

  position: relative;
  overflow: hidden;
}

.search-button {
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  border: 1px solid #666666;
  
  font-size: 16px;
  height: 40px;
}

.search-button:hover:not(:disabled) {
  background-color: lightgrey;
}
.search-button:active:not(:disabled) {
  background-color: grey;
}
.search-button:disabled {
  background-color: #bdc3c7;
  color: #7f8c8d;
}

#searchCooldownEffect {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%; /* Start with the same width as the parent button */
  height: 100%;
  transform-origin: left center; /* Adjust transform-origin for horizontal shrinking */
  animation: searchCooldownAnimation 3s linear;
  /*background-color: rgba(120, 0, 0, 0.5);*/
  background-color: rgba( 120, 120, 120, 0.5);
}

@keyframes searchCooldownAnimation {
  0% {
    transform: scaleX(1); /* Initial width is 100% */
    opacity: 0.5;
  }
  100% {
    transform: scaleX(0); /* Shrink to 0 width */
    opacity: 0.5;
  }
}
  
/* ============================================================================= */
/* RESULTS TABLE STYLING */

/* Element containing the entire table and additional information */
/* This is the element captured by html2canvas */
.full-table-style {
  border: 1px solid black;
  background-color: var(--table-background-color);
  /*background: linear-gradient( #ee99ac 0%, var(--table-background-color) 100px, var(--table-background-color) 100%);*/
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.result-search-performance {
  text-align: center;
  margin-bottom: 4px;
  line-height: 1.2;
}

table.ResultTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  background-color: var(--table-row-default-color);
}

table.ResultTable thead.Sticky {
  position: sticky;
  top: 80;
  z-index: 10;
}

table.ResultTable th {
  position: relative;
  padding: 8px;
  background-color: var(--table-header-default-color);
}


/*table.ResultTable th::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #aadd;
}*/

table.ResultTable td {
  position: relative;
  /*box-shadow: red 0px 2px;*/
  /*border: 1px solid #ccc;*/
  /*border-bottom: 1px solid #ccc;*/
  /*border-right: 1px solid #ccc;*/
  padding-bottom: 8px;
  padding-top: 14px;
  padding-right: 8px;
  padding-left: 8px;
}

/* Vertical space between rows */
table.ResultTable td::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-color: var(--table-background-color);
}

table.ResultTable td.Centered {
  text-align: center;
}
table.ResultTable td.Lefthand {
  text-align: left;
}
table.ResultTable td.Righthand {
  text-align: right;
}
table.ResultTable td.NoResults {
  text-align: center;
  font-weight: bold;
}

/*table.ResultTable tr::before {
  content: '';
  display: block;
  height: 8px;
  background-color: transparent;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
}*/

table.ResultTable th.TopRow {
  font-size: 20px;
}

/*table.ResultTable tr {
  border-bottom: 1px solid black;
}*/

table.ResultTable th.Limiter,
table.ResultTable td.Limiter {
  border-right: 1px solid black;
}

table.ResultTable tr:last-child td {
  border-bottom:none;
}
/*table.ResultTable tbody tr:last-child {
  border-right:none;
}*/

table.ResultTable tr:last-child th {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

#resultTableWatermark {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-weight: bold;
  background-color: var(--bg-panel-color);
}
  
  
/* ============================================================================= */
/* DEFAULT ELEMENT STYLES */

/* Style for labels */
/*label {
  font-weight: bold;
}*/

legend {
  font-size: 24px;
  font-weight: bold;
}

/* Style for select elements */
select {
  margin: 5px 0; /* Add spacing between select elements */
  margin-left: 5px;
  margin-right: 5px;
}

input {
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  margin-left: 20px;
}

h3 {
  margin-left: 30px;
}


/* ============================================================================= */
/* POKEMON TYPE BACKGROUND COLOR */
  
.normal-type {
  color: white;
  text-align: center;
  background-color: #a8a878;
}

.fighting-type {
  color: white;
  text-align: center;
  background-color: #c03028;
}

.flying-type {
  color: white;
  text-align: center;
  background-color: #a890f0;
}

.poison-type {
  color: white;
  text-align: center;
  background-color: #a040a0;
}

.ground-type {
  color: white;
  text-align: center;
  background-color: #e0c068;
}

.rock-type {
  color: white;
  text-align: center;
  background-color: #b8a038;
}

.bug-type {
  color: white;
  text-align: center;
  background-color: #a8b820;
}

.ghost-type {
  color: white;
  text-align: center;
  background-color: #705898;
}

.steel-type {
  color: white;
  text-align: center;
  background-color: #b8b8d0;
}

.fire-type {
  color: white;
  text-align: center;
  background-color: #f08030;
}

.water-type {
  color: white;
  text-align: center;
  background-color: #6890f0;
}

.grass-type {
  color: white;
  text-align: center;
  background-color: #78c850;
}

.electric-type {
  color: white;
  text-align: center;
  background-color: #f8d030;
}

.psychic-type {
  color: white;
  text-align: center;
  background-color: #f85888;
}

.ice-type {
  color: white;
  text-align: center;
  background-color: #98d8d8;
}

.dragon-type {
  color: white;
  text-align: center;
  background-color: #7038f8;    
}

.dark-type {
  color: white;
  text-align: center;
  background-color: #705848;
}

.fairy-type {
  color: white;
  text-align: center;
  background-color: #ee99ac;
  /*background: linear-gradient( transparent 0%, transparent 10%, #ee99ac 10%, #ee99ac 100%);*/
}

.stellar-type {
  color: white;
  text-align: center;
  font-weight: bold;
  background: linear-gradient( #fde247, #f8a51a, #f35f29, #e44c6f,
  #c76bbc, #8341c9, #765dbd, #737da7, #879eab,
  #5ebce2, #33beea, #287ada, #385ec3, #4da2ba,
  #6bdf54, #d2e074, #e4e8c6, #e7cc9c );
  /*background-image: conic-gradient( #fde247, #f8a51a, #f35f29, #e44c6f,
    #c76bbc, #8341c9, #765dbd, #737da7, #879eab,
    #5ebce2, #33beea, #287ada, #385ec3, #4da2ba,
    #6bdf54, #d2e074, #e4e8c6, #e7cc9c );*/
}


.normal-bgbanner {
  background: linear-gradient( to top right, #a8a878, white  );
}

.fighting-bgbanner {
  background: linear-gradient( to top right, #c03028, white  );
}

.flying-bgbanner {
  background: linear-gradient( to top right, #a890f0, white  );
}

.poison-bgbanner {
  background: linear-gradient( to top right, #a040a0, white  );
}

.ground-bgbanner {
  background: linear-gradient( to top right, #e0c068, white  );
}

.rock-bgbanner {
  background: linear-gradient( to top right, #b8a038, white  );
}

.bug-bgbanner {
  background: linear-gradient( to top right, #a8b820, white  );
}

.ghost-bgbanner {
  background: linear-gradient( to top right, #705898, white  );
}

.steel-bgbanner {
  background: linear-gradient( to top right, #b8b8d0, white  );
}

.fire-bgbanner {
  background: linear-gradient( to top right, #f08030, white  );
}

.water-bgbanner {
  background: linear-gradient( to top right, #6890f0, white  );
}

.grass-bgbanner {
  background: linear-gradient( to top right, #78c850, white  );
}

.electric-bgbanner {
  background: linear-gradient( to top right, #f8d030, white  );
}

.psychic-bgbanner {
  background: linear-gradient( to top right, #f85888, white  );
}

.ice-bgbanner {
  background: linear-gradient( to top right, #98d8d8, white  );
}

.dragon-bgbanner {
  background: linear-gradient( to top right, #7038f8, white  );
}

.dark-bgbanner {
  background: linear-gradient( to top right, #705848, white  );
}

.fairy-bgbanner {
  background: linear-gradient( to top right, #ee99ac, white  );
}


.stellar-bgbanner {
  background: linear-gradient( #fde247, #f8a51a, #f35f29, #e44c6f,
  #c76bbc, #8341c9, #765dbd, #737da7, #879eab,
  #5ebce2, #33beea, #287ada, #385ec3, #4da2ba,
  #6bdf54, #d2e074, #e4e8c6, #e7cc9c );
  /*background-image: conic-gradient( #fde247, #f8a51a, #f35f29, #e44c6f,
    #c76bbc, #8341c9, #765dbd, #737da7, #879eab,
    #5ebce2, #33beea, #287ada, #385ec3, #4da2ba,
    #6bdf54, #d2e074, #e4e8c6, #e7cc9c );*/
}

  
/* ============================================================================= */
/* RESULT DAMAGE BACKGROUND COLOR */

.result-no-damage {
  background: #00CCFF;
}
.result-very-low-damage {
  background: lightgreen;
}
.result-low-damage {
  background: greenyellow;
}
.result-ok-damage {
  background: yellow;
}
.result-high-damage {
  background: orange;
}
.result-very-high-damage {
  background: red;
}
.result-extreme-damage {
  background: darkred;
}

.result-valid {
  background: yellowgreen;
  text-align: center;
}
.result-invalid {
  background: #c03028;
  text-align: center;
}


/* DYNAMICALLY USED TO SHOW / HIDE ELEMENTS */
.collapsed {
  display: none;
}